*, :after, :before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box; }

html, body {
  overflow-x: hidden; }

html {
  height: 100%; }

body {
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper-grid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

span {
  display: inline-block;
  color: #212121;}

body {
  font-family: "Lato", sans-serif;
  background: #fff;
}
img{
  width: 100%;
  height: auto;
}
section {
  padding: 100px 0;
  position: relative; }

.block-h {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.block-v {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.block-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center; }

.center {
  display: flex;
  justify-content: center; }

.btn {
  transition: .5s;
   }

.header{
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: #fff;
  -moz-transition: background 0.5s ease-in-out, height 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out, height 0.5s ease-in-out;
  -webkit-transition: background 0.5s ease-in-out, height 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, height 0.5s ease-in-out;
  .block-header{
    height: 90px;
    -moz-transition: background 0.5s ease-in-out, height 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out, height 0.5s ease-in-out;
    -webkit-transition: background 0.5s ease-in-out, height 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, height 0.5s ease-in-out;
  }
}
header.fixed {
  -webkit-box-shadow: 0px -6px 6px 6px #e5e5e5;
  -moz-box-shadow: 0px -6px 6px 6px #e5e5e5;
  box-shadow: 0px -6px 6px 6px #e5e5e5;
}
.header.fixed .block-header {
  height: 60px;
}
.header.fixed .logo img {

}
.header.fixed:before, .header.fixed:after {
  height: 51px;
  display: none;
}


.block-header{
  .logo{
    img{
      width: 150px;
    }
  }
}
.main-menu{
  .dot-hover, .dot-active{
    a{
      display: flex;
      align-items: flex-end;
      justify-content: center;
      color: #00bcc1;
      &:before{
        content: "";
        display: inline;
        position: absolute;
        width: 5px;
        height: 5px;
        margin-top: 5px;
        border-radius: 50%;
        background-color:  #00bcc1;
        -webkit-transition: .5s;
        transition: .5s;
      }
    }

  }
  .block-h {
    width: 540px;
  }
  ul{
    li{
      a{
        font-size: 16px;
        color: #212121;
        letter-spacing: 1.3px;
        transition: .5s;
        &:hover{
          color: #00bcc1;
        }
      }
    }
  }
}

/*-------ADAPTIVE MENU-------*/
#nav-icon-mob {
  display: none;
  width: 32px;
  height: 24px;
  position: relative;
  //margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

}

#nav-icon-mob span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #28cdd1;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon-mob span:nth-child(even) {
  left: 50%;
  //border-radius: 0 9px 9px 0;
}

#nav-icon-mob span:nth-child(odd) {
  left:0px;
  //border-radius: 9px 0 0 9px;
}

#nav-icon-mob span:nth-child(1), #nav-icon-mob span:nth-child(2) {
  top: 0px;
}

#nav-icon-mob span:nth-child(3), #nav-icon-mob span:nth-child(4) {
  top: 9px;
}

#nav-icon-mob span:nth-child(5), #nav-icon-mob span:nth-child(6) {
  top: 18px;
}

#nav-icon-mob.open span:nth-child(1),#nav-icon-mob.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon-mob.open span:nth-child(2),#nav-icon-mob.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon-mob.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon-mob.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon-mob.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon-mob.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon-mob.open span:nth-child(5) {
  left: 5px;
  top: 13px;
}

#nav-icon-mob.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 13px;
}

/*----------------------------*/
/*--------OVERLAY-----------*/
.black-overlay_menu {
  display: none;
  position: fixed;
  top: 60px;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 35;
}

/*------SECTION SLIDER-------*/
.section-services{
  padding: 100px 0 0 0;
}
.section-services-slider {
  margin: 37px auto;
  //padding: 0 5%;
  position: relative;
  .owl-carousel .item {
    position: relative; /* fix blank or flashing items on carousel */
    z-index: 100; /* fix blank or flashing items on carousel */
    -webkit-backface-visibility: hidden; /* fix blank or flashing items on carousel */
  }
  .owl-carousel {
    .owl-stage {
      transition: 0.8s!important;
    }
    .arrow-prev{
      background-image: url(../img/prev.png);
      background-repeat: no-repeat;
      height: 24px;
      width: 41px;
    }
    .arrow-next{
      background-image: url(../img/next.png);
      background-repeat: no-repeat;
      height: 24px;
      width: 41px;
    }
    .owl-nav > div {
      margin-top: -26px;
      position: absolute;
      top: 50%;
      color: #cdcbcd;
    }
    .owl-nav .owl-prev {
      left: -30px;
      width: 6%!important;
    }
    .owl-nav .owl-next {
      right: -30px;
      width: 6%!important;
    }

    .owl-nav span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .owl-nav .owl-prev span {
      left: 0;
    }
    .owl-nav .owl-next span {
      right: 0;
    }

    .owl-nav .owl-next {
      position: absolute;
      right: 0;
      width: 32.33333%;
      background: linear-gradient(to left, white 40%, transparent 140%) !important;
      top: 0;
      margin: 0;
      height: 100%;
      box-shadow: 0px 0px 85px 13px rgba(255, 255, 255, 0.62);
    }

    .owl-nav .owl-prev {
      position: absolute;
      left: 0;
      background: -moz-linear-gradient(to left, white 40%, transparent 140%) !important;
      background: -webkit-linear-gradient(to left, white 40%, transparent 140%) !important;
      background: linear-gradient(to right, white 40%, transparent 140%) !important;
      height: 100%;
      top: 0;
      margin-top: 0;
      width: 32.33333%;
      box-shadow: 0px 0px 85px 13px rgba(255, 255, 255, 0.62);
    }
  }


  .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 3px;
    padding: 0;
    cursor: pointer;
  }
  .owl-dots span {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 50px;
    height: 3px;
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
    background-color: #d7d7d7;
    outline: none;
  }
  .owl-dot.active span {
    background-color: #28cdd1;
  }
  .owl-dots {
    position: absolute;
    margin-top: 33px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
/*-------------slide2--------*/
  .slider-text{
    margin-top: 100px;
  }
}
.slider-text{
  .title{
    display: block;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-align: center;
    margin-bottom: 26px;
  }
  .decription{
    font-family: 'Lora', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.75;
    text-align: left;
    color: #4b4b4b;
    width: 84%;
    margin: 0 auto;
  }
}
/*------SECTION CONTENT-----*/
.block-nav {
  color: #212121;
  font-weight: bold;
  width: 100px;
  transform: rotate(-90deg);
  position: absolute;
  right: 95%;
  bottom: 50%;
  &:after{
    content: "";
    display: block;
    position: relative;
    width: 72px;
    border-bottom: 2px solid;
  }
}
.section-title {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.4px;
  margin-bottom: 37px;
  text-align: center;
}
.section-header{
  height: 627px;
  background-image: url(../img/header_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  margin-top: 90px;
}
.section-header-content{
  text-align: center;
  width: 84%;
  margin: 0 auto;

  h1{
    color: #fff;
    font-size: 70px;
    font-weight: normal;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 48px;
    &:before{
      content: '';
      position: absolute;
      background: url(../img/icon-curve.png);
      background-repeat: no-repeat;
      width: 89px;
      height: 11px;
      margin-top: 15px;
    }
  }
  p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 22px;
    font-weight: normal;
    line-height: 1.36;
  }
}
/*--------------*/
.section-mission{
  padding: 100px 0 0 0;
  &:after{
    content: '';
    position: absolute;
    width: 70%;
    height: 609px;
    background: #f7f7f7;
    z-index: -1;
    left: 4%;
    top: 23%
  }
}
.section-mission-content{
  font-family: 'Lora', sans-serif;
  text-align: center;
  .decription{
    font-size: 20px;
    line-height: 1.75;
    font-weight: normal;
    color: #4b4b4b;
    text-align: center;
    width: 48%;
    margin: 0 auto 35px auto;
  }
  img{
    margin: 45px 0;
    height: 518px;
    width: auto;
  }
  .quote{
    text-align: left;
    display: inline-block;
    margin-top: 60px;
    line-height: 1.78;
    p{
      font-size: 18px;
    }
    &:before{
      content: '';
      position: absolute;
      background: url(../img/quote.png);
      background-repeat: no-repeat;
      width: 40px;
      height: 41px;
    }
    p{
      padding: 58px 40px 37px 40px;
    }
    .name{
      font-family: 'Lato', sans-serif;
      padding-left: 40px;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 2.8px;
      color: #3e3e3e;
      .position{
        font-size: 16px;
        color: rgba(33, 33, 33, 0.4);
        font-family: 'Lora', sans-serif;
        font-weight: normal;
        letter-spacing: 0.5px;
      }
    }
  }
}
/*-----------------------*/
.section-achivments{
  padding: 100px 0 154px 0;
  &:after{
    content: '';
    position: absolute;
    width: 90%;
    height: 673px;
    background: #f7f7f7;
    z-index: -1;
    right: 0;
    top: 21%;
  }
}
.section-achivments-content{
  .row-block{
    width: 300px;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 70px 0 0 0;
  }
  img{
    height: 46px;
    margin-bottom: 22px;
    width: auto;
  }
  .title{
    font-size: 22px;
    font-weight: 600;
    color: #19b4c7;
    margin-bottom: 22px;
  }
  .decription{
    font-family: 'Lora', sans-serif;
    font-size: 16px;
    color: #9a9a9a;
    line-height: 1.88;
  }
}
/*--------FOOTER----------*/
.footer{
  padding: 60px 0 0 0;
  .logo{
    img{
      width: 120px;
    }
  }
}
.footer-block-form{
  padding: 55px 0 63px 0;
  background-color: #28cdd1;

  .form-content{
    width: 90%;
    margin: 0 auto;
  }
  .section-title{
    color: #ffffff;
  }
  input[type=text],
  input[type=email]{
    height: 60px;
    font-size: 15px;
    padding: 21px 28px;
    border-radius: 30px;
    -webkit-appearance: none;
  }
  input[type=text]{
    width: 332px;
  }
  input[type=email]{
    width: 426px;
  }
  input[type=submit] {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4.2px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    border: 1px solid #dbcaad;
    padding: 21px 40px;
    box-shadow: 8.1px 5.9px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: #dbcaad;
    border-radius: 30px;
    transition: .5s;
    -webkit-appearance: none;
    &:hover {
    background: #fff;
    color: #212121;
    }
  }
  input[type=text]::placeholder,
  input[type=email]::placeholder{
    font-size: 15px;
    color: #969696;
    letter-spacing: 4.2px;
    font-weight: 300;
  }
  input[type=text]:-ms-input-placeholder,
  input[type=email]:-ms-input-placeholder{
    font-size: 15px;
    color: #969696;
    letter-spacing: 4.2px;
    font-weight: 300;
  }
}

.footer-block-info{
  padding: 153px 0 200px 0;
  img{
    height: 40px;
    width: auto;
    margin-right: 22px;
  }
  span{
    font-family: 'Lora', sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  .contact{
    display: flex;
    margin: 23px 0;
  }
  .map {
    width: 50%;
    height: auto;
    position: absolute;
    right: 0;
  }
  .map iframe {
    width: 100%;
  }
}

.footer-block-menu{
  background-color: #f7f7f7;
  .block-footer{
    height: 130px;
  }
}

/*---------ADAPTIVE--------*/
@media only screen and (max-width: 320px){}
@media only screen and (max-width: 465px){
  .main-menu.active{
    width: 100%!important;
  }

}
@media only screen and (max-width: 747px){
  #nav-icon-mob {
    display: block;
    margin-right: 27px;
  }
  .main-menu{
    display: none;
  }
  #nav-icon-mob{
    display: block;
    margin-right: 27px;
  }
  .main-menu.active{
    display: block;
    clear: both;
    height: auto;
    width: 70%;
    position: fixed;
    float: none;
    top: 60px;
    left: 0;
    padding: 15px 20px;
    z-index: 50;
    background-color: #f7f7f7;
    ul{
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      li{
        padding: 0;
        a{
          display: flex;
          font-size: 20px;
          margin: 14px 0;
          text-transform: capitalize;
        }
      }
    }
}
}
@media only screen and (max-width: 767px){}
@media only screen and (max-width: 768px){
  .block-nav{
    display: none;

  }
}
@media only screen and (max-width: 992px){
  .header .block-header{
    height: 60px;
  }
  .block-header .logo img{
    width: 120px;
  }
  .main-menu .block-h{
    width: 470px;
  }
  .main-menu ul li a{
    font-size: 14px;
    letter-spacing: 1.1px;
    font-weight: 500;
  }
  .section-header{
    height: 434px;
    margin-top: 60px;
  }
  .section-title{
    font-size: 24px;
    margin-bottom: 20px;
  }
  .section-header-content h1{
    font-size: 48px;
    margin-bottom: 40px;
  }
  .section-header-content h1:before{
    width: 62px;
    background-size: 62px;
  }
  .section-header-content p{
    font-size: 16px;
  }
  .slider-text .title{
    font-size: 21px;
  }
  .slider-text .decription{
    font-size: 14px;
  }
  .section-services-slider .owl-dots{
    margin-top: 22px;
  }
  .section-services-slider .owl-dots span{
    width: 36px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .section-services-slider .owl-carousel .owl-nav .owl-next span,
  .section-services-slider .owl-carousel .owl-nav .owl-prev span{
    display: none;
  }
  .section-services-slider .owl-carousel .owl-nav .owl-next,
  .section-services-slider .owl-carousel .owl-nav .owl-prev{
    display: none;
  }
  .section-services-slider .slider-text{
    margin-top: 63px;
  }
  .section-services{
    padding: 83px 0 0 0;
  }
  .section-mission{
    padding: 80px 0 0 0;
  }
  .section-mission:after{
    left: 0;
    height: 440px;
    top: 21%;
  }
  .section-mission-content .decription{
    font-size: 14px;
    margin: 0 auto 25px auto;
  }
  .section-mission-content .quote{
    margin-top: 42px;
  }
  .section-mission-content .quote p{
    font-size: 13px;
    padding: 58px 40px 23px 40px;
  }
  .section-mission-content .quote .name{
    font-size: 11px;
  }
  .section-achivments {
    padding: 80px 0 70px 0;
  }
  .section-achivments-content img{
    height: 32px;
  }
  .section-achivments-content .title{
    font-size: 14px;
  }
  .section-achivments-content .decription{
    font-size: 11px;
  }
  .section-achivments-content .row-block{
    width: 210px;
  }
  .section-achivments-content .title{
    margin-bottom: 18px;
  }
  .section-achivments-content .row-block{
    margin: 40px 0 0 0;
  }
  .section-achivments:after{
    height: 444px;
    top: 22%;
  }
  .footer-block-form .form-content{
    width: 100%!important;
  }
  .footer-block-form input[type=text],
  .footer-block-form input[type=email]{
    height: 43px;
    padding: 11px 20px;
    border-radius: 20px;
  }
  .footer-block-form input[type=submit]{
    font-size: 10.5px;
    padding: 14px 22px;
  }
  .footer-block-form input[type=text]::placeholder,
  .footer-block-form input[type=email]::placeholder{
    font-size: 12px;
  }
  .footer-block-form input[type=text]:-ms-input-placeholder,
  .footer-block-form input[type=email]:-ms-input-placeholder{
    font-size: 12px;
  }
  .footer-block-info img{
    height: 32px;
  }
  .footer-block-info span{
    font-size: 14px;
  }
  .footer-block-info .map{
    width: 57%;
  }
}
@media only screen and (max-width: 1200px){
  .block-nav{
    right: 94%;
  }
  .section-achivments:after{
    width: 100%;
  }
  .section-mission-content img{
    height: auto;
    width: 100%;
  }
  .footer-block-form input[type=text] {
    width: 231px;
  }
  .footer-block-form input[type=email] {
    width: 296px;
  }
}
/*--------RESPONSIVE-------*/
@media (min-width: 768px) {
  .wrapper-grid {
    width: 750px; } }
@media (min-width: 992px) {
  .wrapper-grid {
    width: 970px; } }
@media (min-width: 1200px) {
  .wrapper-grid {
    width: 1170px; } }
/*------------------------*/